<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Users</h1>
    <h1><a href="/users/new">Create new user</a></h1>
    <table th:border="1">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.firstName}"></td>
            <td th:utext="${user.lastName}"></td>
            <td th:utext="${user.email}"></td>
            <td>
                <div class="actions">
                    <a th:href="@{/users/edit(id=${user.id})}">Edit user</a>
                    <a th:href="@{/users/delete(id=${user.id})}">Delete</a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>